@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

body {
	margin-top: 50px;
	text-align: center;
	background: rgb(240,249,255);
	background: -moz-linear-gradient(top, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
	font-family: 'Vollkorn SC', serif;
	height: 100vh;

	h1 {
	text-transform: uppercase;
	}

	p {
	margin: 30px auto;
	}
}